.roundedBorder {
  border: 1.5px solid rgba(228, 228, 228, 0.659);
  border-top: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.characterRow:hover {
  background-color: aliceblue;
}

.selectedCharacter {
  background-color: aliceblue;
}
